@page "/about"

@*<div class="row justify-content-start">
    <div class="col-6">
        <h3>About</h3>
    </div>
</div>*@
<div class="row justify-content-center">
    <div class="col-6">
        <h3>About</h3>
        <p>@_pageText</p>
    </div>
    <div class="col-4">
        <h5>@_leftSidebarTitle</h5>
        <i>@_leftSidebarContent</i>
    </div>
</div>

