@page "/about"

<div class="row justify-content-center">
    <div class="col-10">
        <h3>About</h3>
        <hr />
        <p>My name is Dino Lozina, an engineer from Split, Croatia. I have been programming for more than ten years. As an electrical engineer my first professional programming experience was with <strong>Programmable Logic Controllers (PLC)</strong>. We where machine builders, and we did all of our machine programming.</p>
        <p>After four years my interest shifted towards robots, instead of machines I have started to program <strong>industrial robots</strong> in various industries. (Warehouse automation, glass container and automotive industry). I have become proficient at <strong>programming industrial robots</strong> and <strong>developing machine vision software.</strong> After many projects all over the world I have decided to return home to Split. That was a big change for me because there was not much opportunities for robot and <strong>machine vision engineer</strong>, so I had to reinvent myself as <strong>software engineer.</strong></p>
        <p>It was a challenge. I knew that my problem solving skills are good and also I had years of programming with high level languages “under my belt“ (remember I started with low level languages) but still you have to adapt to certain way of work that software companies provide. Last couple of years I am developing solutions for <strong>Enterprise Content Management (ECM)</strong> and I have teaching positions at University of Split where I teach Robotics and Machine Vision.</p>
        <p>I am very happy that I had such rich career and success in various engineering roles. Goal for the future is to constantly improve as an engineer, share my knowledge and experience.</p>
        <p>In August 2021, I got a chance to join Infobip. Offer was hard to turn down since it is one of the best companies in Croatia and as Infobip likes to put it “engineering powerhouse”. Also, I liked the prospect of working in communication niche since I have formal education in communication and information technologies.</p>
        <p>Enjoying this opportunity to learn (there are more than 800+ engineers in company) and give my contribution to product portfolio.</p>
        <br />
        <h3>Glossary (in order off apperance)</h3>
        <p><a href="https://www.wikiwand.com/en/Programmable_logic_controller">Programmable logic controler</a></p>
        <p><a href="https://www.wikiwand.com/en/Industrial_robot">Industrial robot</a></p>
        <p><a href="https://www.wikiwand.com/en/Machine_vision">Machine vision</a></p>
        <p><a href="https://www.wikiwand.com/en/Software_engineer">Software engineer</a></p>
        <p><a href="https://www.wikiwand.com/en/Enterprise_content_management">Enterprise content management</a></p>
    </div>
    <div class="col-2">
        <div class="position-fixed">
            <RightMenu />
            <br />
            <h3>Download</h3>
            <hr />
            <NavLink class="nav-link text-dark" href="data/CV.pdf" download="CV.pdf" target="_top">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                </svg> CV
            </NavLink>
        </div>
    </div>
</div>

