@page "/"

@*<div class="row justify-content-start">
    <div class="col-6">
        <h3>Home</h3>
    </div>
</div>*@
<div class="row justify-content-center">
    <div class="col-6">
        <h3>Home</h3>
        <p>Hi you! This is my test page powered by Blazor.</p>
    </div>
    <div class="col-4">
        <div>
            <h5>@_leftSidebarTitle1</h5>
            <i>@_leftSidebarContent1</i>
        </div>
        <br />
        <div>
            <h5>@_leftSidebarTitle2</h5>
            <i>@_leftSidebarContent2</i>
        </div>
    </div>
</div>

