@inherits LayoutComponentBase
<head>
    <style>
        body { margin-top: 120px;}
    </style>
</head>
<body>
    <NavMenu />
    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</body>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - if(Engineer) {solution}
    </div>
</footer>


